/* Style the buttons that are used to open and close the accordion panel */

body {
    background-color: rgb(145, 175, 206);
}

a {
    text-decoration: none;
    color: rgb(154, 200, 240);
}

.accordion {
    background-color: rgb(0, 0, 0);
    color: rgb(145, 175, 206);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 2px;
    margin-bottom: 2px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: rgb(61, 46, 46);
    color: aliceblue;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: rgb(129, 109, 109);
    color: rgb(255, 255, 255);
    display: none;
    overflow: hidden;
}